<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Clicks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="../../static/css/style.css">
</head>

<body>
<div class="container">
    <div class="row">
        <h1>Clicks</h1>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Click ID</th>
                <th>Click Time</th>
                <th>Clicked Note ID</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="click, iStat : ${allClicks.content}"
                th:style="${iStat.odd}? 'font-weight: bold;'"
                th:alt-title="${iStat.even}? 'even' : 'odd'">
                <td th:text="${click.id}" />
                <td th:text="${click.createdAt}" />
                <td th:text="${click.noteId}" />

            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation">
            <ul  class="pagination justify-content-center">
                <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                    <a class="page-link" th:href="@{/display/clicks(size=${allClicks.size}, page=${pageNumber})}"
                       th:text="${pageNumber}">pageNumber</a>
                </li>
            </ul>
        </nav>

    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>